@charset "utf-8";
/* My Times CSS */
/*Navigation Bar*/
.top {
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	display: flex;
	align-items: center;
	border-bottom: 1px solid black;
	background-color: white;
	position: fixed;
	width: 100%;
}
/*child of top - logo*/
.logo {
	display:flex;
	align-items: center;
}

.logo span{
	color: mediumaquamarine;

	
}
/*child of top - navigation links*/
.navigation {
	display: inline-block;
	padding-left: 60%;
	padding-top: 60px;
	padding-right: 0%;
}