@charset "utf-8";
/* My Times CSS */
/*Navigation Bar***********************************/
.top {
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	display: flex;
	align-items: center;
	border-bottom: 1px solid black;
	background-color: white;
	position: fixed;
	width: 100%;
}
/*child of top - logo*/
.logo {
	display:flex;
	align-items: center;
}

.logo span{
	color: mediumaquamarine;

	
}
/*child of top - navigation links*/
.navigation {
	display: inline-block;
	padding-left: 60%;
	padding-top: 60px;
	padding-right: 0%;
}
/*END Navigation Bar************************************/
/*main content section is 3 columns********************/
.content {
	display: flex;
	background-color: white;
	border: 1px solid black;
	padding-top: 100px;
	width: 100%;
}

.column1 {
	display:flex;
	flex-direction: column;
	width: 630px;
	border: 1px solid black;
}

.column2 {
	display:flex;
	flex-direction: column;
	width: 300px;
	border: 1px solid black;
}

.column3 {
	display: flex;
	flex-direction: column;
	width: 240px;
	border: 1px solid black;
}